@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------*/
body {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 62px 0 0 0;
}

.header {
  width: 100%;
  position: absolute;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__item {
  padding: 0 0 0 82px;
}
.menu:last-child {
  margin-right: 0;
}
.menu__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 133%;
  font-weight: 400;
}

.hero {
  background: url(/img/heroheader/bg_Hero_grad.png) no-repeat center;
  background-size: cover;
  min-height: 135vh;
  background-size: cover;
  padding-top: 263px;
}

.main__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}
.main__subtitle {
  max-width: 546px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 59px;
}
.main__search {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  background-color: transparent;
  background: url(/img/heroheader/Oval.svg) no-repeat left top 7px;
  background-size: 20px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.search-form::-moz-placeholder {
  color: #FFFFFF;
}
.search-form:-ms-input-placeholder {
  color: #FFFFFF;
}
.search-form::placeholder {
  color: #FFFFFF;
}
.search-form__submit {
  background: #1B7DFF;
  width: 171px;
  height: 58px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 121%;
}

.benefits__container {
  max-width: 1262px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
  padding-bottom: 131px;
}
.benefits__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  color: #102746;
  padding: 93px 100px 120px 100px;
  transform: translateY(-223px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  margin-bottom: 120px;
}
.benefits__card {
  position: relative;
  display: flex;
  z-index: 10;
  flex-direction: row;
  flex: 0 1 33.333%;
  margin: 0 100px 0 100px;
}
.benefits__item {
  margin: 0 55px 0 0;
}

.item__ico {
  margin-bottom: 37px;
}
.item__title {
  margin-bottom: 26px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #000000;
}
.item__subtitle {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.item__learn {
  font-size: 16px;
  line-height: 150%;
  color: #006DFE;
  text-transform: uppercase;
  padding-right: 59px;
  background: url(/img/Shape.svg) no-repeat right center;
}

.inspired__container {
  margin: 0 auto;
  max-width: 1262px;
}
.inspired__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}