@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

/*------------------------------------*/
body {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 62px 0 0 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header_active {
  background: #0E1D28;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__item {
  padding: 0 0 0 82px;
}
.menu:last-child {
  margin-right: 0;
}
.menu__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 133%;
  font-weight: 400;
}

.hero {
  background: url(/img/heroheader/bg_Hero_grad.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 263px;
}

.main__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}
.main__subtitle {
  max-width: 546px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 59px;
}
.main__search {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  background-color: transparent;
  background: url(/img/heroheader/Oval.svg) no-repeat left top 7px;
  background-size: 20px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.search-form::-moz-placeholder {
  color: #FFFFFF;
}
.search-form:-ms-input-placeholder {
  color: #FFFFFF;
}
.search-form::placeholder {
  color: #FFFFFF;
}
.search-form__submit {
  background: #1B7DFF;
  width: 171px;
  height: 58px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 121%;
  transition: 0.5s;
}
.search-form__submit:hover {
  letter-spacing: 1px;
  background-color: #006DFE;
  color: white;
  box-shadow: 0 0 35px rgb(151, 162, 255);
}

.benefits__container {
  max-width: 1262px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
  padding-bottom: 131px;
}
.benefits__block {
  width: 100%;
  padding: 50px 100px 120px 100px;
  z-index: 11;
  position: absolute;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  transform: translateY(-150px);
  z-index: 9999;
}
.benefits__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  color: #102746;
  background-color: #ffffff;
}
.benefits__card {
  position: relative;
  display: flex;
  z-index: 10;
  flex-direction: row;
  flex: 0 1 33.333%;
  margin: 0 100px 0 100px;
  padding: 65px 0 0 0;
}
.benefits__item {
  margin: 0 55px 0 0;
}

.item__ico {
  margin-bottom: 37px;
}
.item__title {
  margin-bottom: 26px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #000000;
}
.item__subtitle {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.item__learn {
  font-size: 16px;
  line-height: 150%;
  color: #006DFE;
  text-transform: uppercase;
  padding-right: 59px;
  background: url(/img/Shape.svg) no-repeat right center;
  transition: 0.3s;
}
.item__learn:hover {
  color: #0064e7;
  letter-spacing: 0.5px;
}

.inspired {
  margin-top: 131px;
  margin-bottom: 131px;
}
.inspired__container {
  margin: 0 auto;
  max-width: 1262px;
}
.inspired__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inspired__view {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #006DFE;
  background: url(/img/Shape.svg) no-repeat right top 8px;
  padding-right: 59px;
  transition: 0.3s;
}
.inspired__view:hover {
  color: #0064e7;
  letter-spacing: 0.5px;
}
.inspired__cards1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.inspired__card {
  overflow: hidden;
  position: relative;
}
.inspired__card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.inspired__card:hover .inspired__card-size {
  transform: scale(1.05);
}
.inspired__card-pic {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
.inspired__card-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  transform: translate(32px, -80px);
  z-index: 3;
  position: absolute;
}
.inspired__card-size {
  height: 354px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.15s all;
}

.string-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 36px;
}
.string-title::after {
  content: "";
  display: block;
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-large {
  grid-column: span 3;
}

.card-tiny {
  grid-column: span 2;
}

.tours {
  margin-bottom: 139px;
}
.tours__container {
  margin: 0 auto;
  max-width: 1262px;
}
.tours__tottori {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}
.tour__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #102746;
  margin-bottom: 85px;
}
.tour__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #102746;
  margin-bottom: 58px;
}
.tour__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: #006DFE;
  background: url(/img/Shape.svg) no-repeat right top 6px;
  padding-right: 59px;
  transition: 0.3s;
}
.tour__link:hover {
  color: #0064e7;
  letter-spacing: 0.5px;
}

.places {
  margin-bottom: 144px;
}
.places__container {
  margin: 0 auto;
  max-width: 1262px;
}
.places__main {
  margin-top: 54px;
}
.places__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}
.places__card {
  width: 386px;
}
.places__card-img {
  margin-bottom: 45px;
  height: 377px;
}
.places__card-info {
  height: 55px;
  width: 386px;
  background: rgba(21, 24, 36, 0.6);
  position: relative;
  top: -100px;
}
.places__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 16px 0 15px 25px;
}
.places__card-title span {
  margin-left: 157px;
}
.places__card-title img {
  margin-right: 14px;
}
.places__card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #102746;
  padding: 0 0 31px 0;
  position: relative;
  top: -62px;
  z-index: 199;
}
.places__see {
  background: #006DFE;
  width: 118px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 12px 19px 11px;
  transition: 0.1s;
}
.places__see:hover {
  letter-spacing: 0.5px;
  background-color: #006DFE;
  color: white;
  box-shadow: 0 0 35px rgb(151, 162, 255);
}
.places__card-link {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0;
}