@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// @font-face {
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: local('Lato Regular'), local('Lato-Regular'),
//          url(fonts/Lato-Regular.ttf);
// }
// @font-face {
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src: local('Lato Medium'), local('Lato-Medium'),
//          url(fonts/Lato-Medium.ttf);

// }

// @font-face {
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: local('Lato Bold'), local('Lato-Bold'),
//          url(fonts/Lato-Bold.ttf);

// }

body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    min-width: 1440px;


color: #000000;
}

//? ------HEADER BLOCK-----------------------------------------------------
// 
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 62px 15px 0 15px;

}
.active{
    background: #0E1D28;
    transform: translateY(-50px);
}
.header {
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s linear;
    padding-bottom: 10px;
    z-index: 99999;
    
    
        
		// .header__container

		&__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            
        }

		// .header__logo

		&__logo {
		}

		// .header__menu

		&__menu {
            
		}
        &__burger{
            width: 40px;
            height: 28px;
            position: relative;
            display: none;
        }
        

       .burger {

            // .burger__line
    
            &__line {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #ffffff;
                position: absolute;
    
                // .burger__line_first
    
                &_first {
                    top: 0;
                }
    
                // .burger__line_second
    
                &_second {
                    bottom: 0;
                }
    
                // .burger__line_third
    
                &_third {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
    }
    
}
.menu {
    
		// .menu__list

		&__list {
            display: flex;
            flex-wrap: wrap;
		}

		// .menu__item

		&__item {
            padding: 0 0 0 82px;
		}
        &:last-child{
            margin-right: 0;
        }

		// .menu__link

		&__link {
            color: #FFFFFF;
            font-size: 18px;
            line-height: 133%;
            font-weight: 400;
		}
        
}
//? ------HEADER BLOCK-END----------------------------------------------------
//! ------HERO BLOCK-----------------------------------------------------
.hero{
    // background: url(/img/heroheader/bg.png) no-repeat center;                                    test
    // background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);           test           
    background: url(/img/heroheader/bg_Hero_grad.png) no-repeat center center;
    background-size: cover;
    min-height: 962px;
    padding-top: 263px;
    object-position: center;
    
    // margin-bottom: 223px;
}

.main {

    // .main__body

    &__body {
    }

    // .main__title

    &__title {
        
        max-width: 619px;
        margin-bottom: 22px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 120%;
        color: #FFFFFF;
    }

    // .main__subtitle

    &__subtitle {
        max-width: 546px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 59px;
        
    }

    // .main__search

    &__search {
        display: flex;
        flex-wrap: wrap;
        
    }


   
}


.search-form {
    background-color: transparent;
    background: url(/img/heroheader/Oval.svg) no-repeat left top 7px;
    background-size: 20px;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    &::placeholder{
        color: #FFFFFF;
    }
    
    // .search-form__submit

    &__submit {
        background: #1B7DFF;
        width: 171px;
        height: 58px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 121%;
        transition: 0.5s;
        &:hover{
            letter-spacing: 1px;
            background-color: #006DFE;
            color: white;
            box-shadow: 0 0 35px rgb(151, 162, 255);
        }
        
    }
}
//! ------HERO BLOCK-END----------------------------------------------------
//* ------BENEFITS BLOCK-----------------------------------------------------
.benefits {
    
    // .benefits__container

    &__container {
        max-width: 1262px;
        background-color: #ffffff;
        margin: 0 auto;
        // height: 655px;
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
        position: relative;
        padding-bottom: 131px;
        
        
        
    }

    &__block{
        width: 100%;
        padding: 50px 100px 120px 100px;
        z-index: 11;
        position: absolute;
        background-color: #FFFFFF;
        top: 0;
        left: 0;
        transform: translateY(-150px);
        z-index: 9999;
    }
    // .benefits__title

    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 120%;
        color: #102746;
        
        
        
        
        
        background-color: #ffffff;
        
        
        
    }

    // .benefits__card

    &__card {
        position: relative;
        display: flex;
        z-index: 10;
        flex-direction: row;
        flex: 0 1 33.333%;
        margin: 0 100px 0 100px;
        padding: 65px 0 0 0 ;
    }

    // .benefits__item

    &__item {
        margin: 0 55px 0 0;
    }
}
.item {

    // .item__ico

    &__ico {
        margin-bottom: 37px;
    }

    // .item__title

    &__title {
        margin-bottom: 26px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: #000000;
    }

    // .item__subtitle

    &__subtitle {
        margin-bottom: 39px;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    // .item__learn

    &__learn {
        font-size: 16px;
        line-height: 150%;
        color: #006DFE;
        text-transform: uppercase;
        padding-right: 59px;
        background: url(/img/Shape.svg) no-repeat right center;
        transition: .3s;
        &:hover{
            
            color: #0064e7;
            letter-spacing: 0.5px;
        }
    }
}
//* ------BENEFITS BLOCK-END----------------------------------------------------
//! ------INSPIRED BLOCK--------------------------------------------------------
.inspired {
    margin-top: 131px;
    margin-bottom: 131px;
    // .inspired__container

    &__container {
        margin: 0 auto;
        max-width: 1262px;
    }

    // .inspired__block

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // .inspired__title

    &__title {
        
        // font-family: 'Lato';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 35px;
        // line-height: 120%;
        // color: #102746;
        
    }

    // .inspired__view

    &__view {
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #006DFE;
        background: url(/img/Shape.svg) no-repeat right top 8px;
        padding-right: 59px;
        transition: .3s;
        &:hover{
            
            color: #0064e7;
            letter-spacing: 0.5px;
        }
        
    }

    // .inspired__pic

    &__cards1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        
    }
    

    &__card{
        overflow: hidden;
        position: relative;
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(21, 24, 36, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &:hover &-size {
            transform: scale(1.05);
        }
        
        
    }
    &__card-pic{
        width: 100%;
        height: 100%;
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        
    }
    &__card-title {
        
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: #FFFFFF;
        transform: translate(32px, -80px);
        z-index: 3;
        position: absolute;
        
    }
    &__card-size{
        height: 354px;
        width: 100%;
        object-fit: cover;
        transition: .15s all;
    }
    

   
}
.string-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 120%;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 36px;
    &::after{
        content: '';
        display: block;
        width: 253px;
        height: 3px;
        background-color: #006DFE;
        position: absolute;
        bottom: 0;
        left: 0;
        
        
    }
}


.card-large {
    grid-column: span 3;
    
}

.card-tiny{
    grid-column: span 2;
}

//! ------INSPIRED BLOCK-END----------------------------------------------------
//? ------TOURS BLOCK-START-----------------------------------------------------

.tours {
    margin-bottom: 139px;
    // .tours__container

    &__container {
        margin: 0 auto;
        max-width: 1262px;
    }

    // .tours__tottori

    &__tottori {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 108px;
        margin-bottom: 77px;
    }
}
.tour {

    // .tour__img

    &__img {
    }

    // .tour__thumb

    &__thumb {
    }

    // .tour__info

    &__info {
        padding-left: 47px;
        
    }

    // .tour__title

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #102746;
        margin-bottom: 85px;
    }

    // .tour__description

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #102746;
        margin-bottom: 58px;
    }

    // .tour__link

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: right;
        color: #006DFE;
        background: url(/img/Shape.svg) no-repeat right top 6px;
        padding-right: 59px;
        transition: .3s;
        &:hover{
            
            color: #0064e7;
            letter-spacing: 0.5px;
        }
        
        
    }
}
//? ------TOURS BLOCK-END--------------------------------------------------------
//TODO ---PLACES BLOCK-START-----------------------------------------------------

.places {
    margin-bottom: 144px;
    // .places__container

    &__container {
        margin: 0 auto;
        max-width: 1262px;
    }

    // .places__title

    &__title {
    }

    // .places__main

    &__main {
        margin-top: 54px;
    }

    // .places__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 57px;
        
    }

    // .places__card

    &__card {
        width: 386px;
        
        
    }

    &__card-wrap{
    }
    // .places__card-img

    &__card-img {
        margin-bottom: 45px;
        height: 377px;
        
    }

    // .places__card-info

    &__card-info {
        // display: flex;
        // justify-content: space-between;
        height: 55px;
        width: 386px;
        background: rgba(21, 24, 36, 0.6);
        position: relative;
        top: -100px;
        
        
    }

    // .places__card-title

    &__card-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
        padding: 16px 0 15px 25px;
        
    }

    &__card-title span{
        margin-left: 157px;
        
        }
        &__card-title img{
            margin-right: 14px;
            }



        
    // .places__card-description

    &__card-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #102746;
        padding: 0 0 31px 0;
        position: relative;
        top: -62px;
        z-index: 199;
        
    }


    // .places__see

    &__see {
        background: #006DFE;
        width: 118px;
        height: 42px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 12px 19px 11px;
        transition: 0.1s;
        
        &:hover{
            letter-spacing: 0.5px;
            background-color: #006DFE;
            color: white;
            box-shadow: 0 0 35px rgb(151, 162, 255);
        }
    }

    &__card-link {
        width: 100%;
        height: 100%;
        z-index: 99;
        position: relative;
        top: 0;
        left: 0;
        
    }
}
.string-title {
    
}

.video {
width: 100%;

    // .video__container

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }

    &__item{
        padding-top: 56.25%;
    }

    &__element{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
}


.footer {

    background: #0E1D28;
    height: 370px;
    // .footer_desc-first

    

    // .footer__container

    &__container {
        margin: 0 auto;
        max-width: 1262px;
    }

    &__block{
        display: flex;
        flex: 0 0 50%;
        justify-content: space-between;
        height: 100%;
        padding-top: 118px;
    }
    // .footer__logo

    &__logo {
        
    }

    // .footer__desc

    &__desc {
        // display: flex;
        // flex-wrap: wrap;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 192px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        text-decoration: none;
        color: #FFFFFF;
        a{
            color: inherit;
        }
        
        li:nth-child(1){
            font-size: 18px;
            line-height: 133%;
    }}
    

    // .footer__desc-first

    &__desc-first {
    }

    // .footer__desc-second

    &__desc-second {
    }

    // .footer__desc-third

    &__desc-third {
    }
}

// ! -media


@media screen and (max-width: 767px){
    
    .header__burger {
        display: block;
        margin: 0 25px 0 0;
    }
    .header__menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000000;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header__menu_active{
        transform: translateX(0);
    }
    .header__logo{
        margin: 0 0 0 25px;
    }
    .menu__item{
        width: 100%;
        padding: 0 0 0 0;
        margin-bottom: 20px;
    }
    .menu__item:nth-child(4){
        margin-bottom: 0px;
    }
    .menu__link{
        font-size: 32px;
        line-height: 150%;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        top: 50%;
        // transform: translateY(-50%);
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .benefits__title{
        font-size: 50px;
    }
    .benefits__card{
        flex-direction: column;
        margin: 0 50px 0 50px;
    }
    .benefits__item{
        padding: 0 0 0 35px;
    }
    .item__title{
        font-size: 36px;
    }
    .item__subtitle{
        font-size: 32px;
    }
    .item__learn{
        font-size: 32px;
    }
    .inspired__title{
        font-size: 50px;
    }
    .inspired__view{
        font-size: 32px;
        background: url(/img/Shape.svg) no-repeat right top 20px;
    }
    .card-large{
        grid-column: span 6;
    }
    .inspired__card-size {
        height: 100%;
    }
    .inspired__card-title {
        font-size: 75px;
        
        transform: translate(32px, -110px);
    }
    .card-tiny{
        grid-column: span 6;
    }
    .tours__tottori{
        // grid-template-columns: repeat(1, 1fr);
    }
    .img-start{
        grid-row-start: -1;
    }
    .tour__title{
        font-size: 50px;
    }
    .tour__description{
        font-size: 36px;
    }
    .tour__link{
        font-size: 36px;
    }
    .tour__img{
        padding-top: 150px;
    }
    .places__title{
        font-size: 50px;
    }
    

}
